################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SoccerManagerBELite/SoccerManagerBELite.Api/bin/Debug/net6.0
/SoccerManagerBELite/SoccerManagerBELite.Api/obj/Debug/net6.0
/SoccerManagerBELite/SoccerManagerBELite.Application/bin/Debug/net6.0
/SoccerManagerBELite/SoccerManagerBELite.Application/obj/Debug/net6.0
/SoccerManagerBELite/SoccerManagerBELite.Application.Contract/bin/Debug/net6.0
/SoccerManagerBELite/SoccerManagerBELite.Application.Contract/obj/Debug/net6.0
/SoccerManagerBELite/SoccerManagerBELite.Domain/bin/Debug/net6.0
/SoccerManagerBELite/SoccerManagerBELite.Domain/obj/Debug/net6.0
/SoccerManagerBELite/SoccerManagerBELite.Domain/obj
/SoccerManagerBELite/SoccerManagerBELite.EntityFramework/bin/Debug/net6.0
/SoccerManagerBELite/.vs/SoccerManagerBELite/DesignTimeBuild/.dtbcache.v2
*.v1
/SoccerManagerBELite/SoccerManagerBELite.Api/obj
/SoccerManagerBELite/SoccerManagerBELite.Application/obj
/SoccerManagerBELite/SoccerManagerBELite.Application.Contract/obj
/SoccerManagerBELite/SoccerManagerBELite.EntityFramework/obj
/OrderManagement/service/OrderManagement.Api/bin/Debug/net6.0
/OrderManagement/service/OrderManagement.Api/obj
/OrderManagement/service/OrderManagement.Application/bin/Debug/net6.0
/OrderManagement/service/OrderManagement.Application/obj
/OrderManagement/service/OrderManagement.Application.Contract/bin/Debug/net6.0
/OrderManagement/service/OrderManagement.Application.Contract/obj
/OrderManagement/service/OrderManagement.Domain/bin/Debug/net6.0
/OrderManagement/service/OrderManagement.Domain/obj
/OrderManagement/service/OrderManagement.EntityFramework/bin/Debug/net6.0
/OrderManagement/service/OrderManagement.EntityFramework/obj
/OrderManagement/service/.vs/OrderManagement
/OrderManagement/.vs/OrderManagement
